@tailwind base;
@tailwind components;
@tailwind utilities;

/* pinkish */
/* @layer base {
  :root {
    --background: 233 62% 99%;
    --foreground: 84 17.24% 5.69%;
    --muted: 353 36% 87%;
    --muted-foreground: 353 14% 28%;
    --popover: 233 62% 99%;
    --popover-foreground: 84 17.24% 5.69%;
    --card: 233 62% 99%;
    --card-foreground: 84 17.24% 5.69%;
    --border: 233 5% 89%;
    --input: 233 5% 89%;
    --primary: 335.36 40.58% 27.06%;
    --primary-foreground: 0 0% 100%;
    --secondary: 353 29% 54%;
    --secondary-foreground: 0 0% 100%;
    --accent: 349.41 80.95% 95.88%;
    --accent-foreground: 0 0% 0%;
    --destructive: 1 80% 32%;
    --destructive-foreground: 1 80% 92%;
    --ring: 349.41 80.95% 95.88%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 334.29 11.31% 6.77%;
    --foreground: 233 23% 100%;
    --muted: 328.97 18.22% 49.06%;
    --muted-foreground: 349.41 80.95% 95.88%;
    --popover: 233 46% 4%;
    --popover-foreground: 233 23% 100%;
    --card: 335.36 10.23% 13.12%;
    --card-foreground: 233 23% 100%;
    --border: 334.29 6.13% 20.44%;
    --input: 334.29 4.67% 24.4%;
    --primary: 335.36 43.47% 41.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 328.97 22.83% 50.2%;
    --secondary-foreground: 0 0% 100%;
    --accent: 328.97 22.83% 50.2%;
    --accent-foreground: 0 2% 80.39%;
    --destructive: 1 80% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 233 29% 54%;
  }
} */

/*bluish */
@layer base {
  :root {
    --background: 357 31% 99%;
    --foreground: 357 57% 0%;
    --muted: 177 7% 92%;
    --muted-foreground: 204 38.68% 23.41%;
    --popover: 357 31% 99%;
    --popover-foreground: 357 57% 0%;
    --card: 357 31% 98%;
    --card-foreground: 0 0% 0%;
    --border: 357 15% 89%;
    --input: 357 15% 89%;
    --primary: 212.25 50.63% 30.98%;
    --primary-foreground: 0 0% 100%;
    --secondary: 80 1.29% 54.31%;
    --secondary-foreground: 202.5 20% 92.16%;
    --accent: 204 39.47% 55.29%;
    --accent-foreground: 202.5 20% 92.16%;
    --destructive: 17 91% 28%;
    --destructive-foreground: 17 91% 88%;
    --ring: 206.92 73.58% 79.22%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 200 79.56% 3.43%;
    --foreground: 357 10% 98%;
    --muted: 202.14 100% 16.47%;
    --muted-foreground: 177 13% 62%;
    --popover: 357 39% 2%;
    --popover-foreground: 357 10% 98%;
    --card: 200 75% 7.84%;
    --card-foreground: 357 10% 99%;
    --border: 206.92 7.63% 22.15%;
    --input: 206.92 34.99% 15.61%;
    --primary: 204 42.57% 42.84%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206.92 73.58% 79.22%;
    --secondary-foreground: 0 0% 0%;
    --accent: 212.25 50.63% 30.98%;
    --accent-foreground: 202.5 20% 92.16%;
    --destructive: 360 57.48% 53.69%;
    --destructive-foreground: 360 52.75% 91.86%;
    --ring: 206.92 73.58% 79.22%;
  }
}

/* another bluish */

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 197 100% 27.56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 331 99.78% 33.05%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 197 100% 27.56%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 100% 30.4%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 332 99.75% 36.57%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 197 100% 30.4%;
  }
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
